*{
    transition: all .1s ease-in;
    margin: auto;
}

/*добавить бифор и афтер вместо (); добавить картинку при нажатии актив на инпут*/

header{
    background-color:#4A4F56 ;
    position: relative;
    text-align:center;
}

body{
    background-color:#3B3F45 ;
}
   

main{
    padding-top:20px;
    position: relative;
    padding-left:auto;
    padding-right: auto;
}

h1{
    color:#FF8984;
}

h3{
    color:#FF8984;
}

strong{
    font-weight:bold;
}

.pickles{
    background-color:#88839E ;
    width: 534px;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 12px;
    color:#fff;
}
/*----apples s active----*/
.apples{
    background-color:#88839E ;
    width: 534px;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 12px;
    color:#fff;
}

.oranges{
    background-color:#88839E ;
    width: 534px;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 12px;
    color:#fff;
}
/*-----plates s hover------*/
.plates{
    background-color:#88839E ;
    width: 534px;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 12px;
    color:#fff;
}

.bentos{
    background-color:#88839E ;
    width: 534px;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 12px;
    
    color:#fff;
}
/*----sake s active----*/
.sake{
    background-color:#88839E;
    width: 534px;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 12px;
    color:#fff;
    
}

.h3Footer{
    background-color:#4A4F56 ;
    width: 534px;
    margin-top:45px;
    padding-top: 12px;
    padding-bottom: 14px;
    padding-left: 12px;
    color:#FF8984;
    text-align:center;
    
}

[type]{
    margin-right: 16px;
    width: 19px;
    height: 19px;
}

small::before{
    content:'(';

}

small::after{
    content:')'
}

div:hover{
    background-color:#625E77 ;
    border-top: solid #fff 3px;
    border-bottom: solid #fff 3px;
    
   }

div input:checked+label{
    text-decoration:line-through;
    color: #9b96ac;
   
    
}



div:nth-child(even){
    background: #7A7593;
}













